
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    height: 100vh;
    background-color: rgb(233, 233, 233);
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.container{
    font-size: 0.9rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin: auto;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px  60px 60px  60px 60px ;
    grid-template-rows: 100px 100px 100px 100px  ;
   grid-gap: 10px;
    border-radius:10px;
    padding: 40px;
    background-color: aliceblue;
    text-align: left;
    place-items: center;
}

.item6{
    width: 120px;
    height: 200px;
    border-radius:10px ;
    background-color: hsl(31, 66%, 93%);
    grid-row: 1/3;
    grid-column: 1/3;
    
}
.item8{
    text-align: center;
    width: 240px;
    height: 200px;
    border-radius:10px ;
    background-color: hsl(256, 67%, 59%);
    grid-row: 1/3;
    grid-column:3/7 ;
}
.item3{
    width: 120px;
    height: 300px;
    border-radius:10px ;
    grid-row: 1/4;
    grid-column: 7/9;
    background-color: hsl(254, 88%, 90%);
}

.item7{
    width: 120px;
    height: 200px;
    border-radius:10px ;
    background-color: hsl(39, 100%, 71%);
    grid-row:3/5 ;
    grid-column:1/3 ;
}

.item1{
    width: 120px;
    height: 100px;
    border-radius:10px ;
    background-color:white ;
    grid-row: 3/4;
    grid-column:3/5 ;
}

.item2{
    width: 120px;
    height: 100px;
    border-radius:10px ;
    background-color: hsl(39, 100%, 71%);
    grid-row:3/4 ;
    grid-column:5/7 ;
}

.item5{
    margin-left: 10px;
    width: 120px;
    height: 100px;
    border-radius:10px ;
    background-color: white;
    grid-row: 4/5;
    grid-column: 3/5;
}

.item4{
    width: 240px;
    height: 100px;
    border-radius:10px ;
    background-color:hsl(256, 67%, 59%) ;
    grid-row: 4/5;
    grid-column: 5/9;
}

