@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: hsl(0, 0%, 70%);
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: white;
  width: 500px;
  height: 500px;
  position: fixed;
  
  border-radius:10px 10px 40% 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;

  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px;
  grid-gap: 1px;
}



input {
  font-weight: 900;
  font-size: 2rem;  
  width: 70px;
  height: 40px;
  margin-top: -10px;
  color:hsl(259, 100%, 65%);
 
  text-align: center;
  font-size: 16px;
  outline: none;
  resize: none;
  border: 1px solid hsla(0, 0%, 0%, 50%)  ;
  border-radius: 3px;
}

.day {
  
  padding-top: 10px;
  
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0 auto;
}
.month {
  
  padding-top: 10px;
  
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 auto;
}
.year {
  
  padding-top: 10px;
  
  grid-column: 3/4;
  grid-row: 2/3;
  margin: 0 auto;
}


p {
  grid-row: 1/2;
  margin: 30px 15px 0px 10px;
  margin-left: -15px;
  font-size: 0.7rem;
  
  font-weight: 400;
  opacity: 80%;
}
::placeholder{
  
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;

}
.result{
  border-top: 1px solid black ;
  text-align: left;
  margin-top: 40PX;
  width: 440px;
  font-style: italic;
  font-weight: 900;
  font-size: 1.6rem;
}
h1{
  margin-left: 50PX;
}

.point{
  color: hsl(259, 100%, 65%);
}