body{
    
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.container{
    display: inline;
    position: fixed;
    background-image:linear-gradient(300deg,hsl(0, 8%, 92%),hsl(255, 100%, 100%));
   
    width: 500px;
    height: 500px;
    top :50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    border-radius: 100px 20px 20px 100px ;
    

    
}
.subcont1{
    display: inline-block;
    background-image:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 250px;
    height: 500px;
    float: left;
    border-radius: 20px;
}
.subcont2{
    display: inline-block;
   text-align: center;
    height: 500px;
    width: 250px;
    border-radius: 0 20px 20px 0;
    float: right;
}

h2{
    color: rgb(255, 255, 255,0.5);
}
.score{
    margin: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    background-image:linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
   
    border-radius:100px;
    font-size: 14pt;
    width: 180px;
    height: 180px;
    color: rgb(255, 255, 255,0.5);
}

h1{
    font-size: 5REM;
    color: white;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom:5px;
}
.great{
    color: white;
    font-size: 2rem;
}
.para{
    padding: 0 10px 10px 10px;
   font-size: 13pt;
    
    height: 240px;
    color: rgb(255, 255, 255,0.5);
}

.SUM{
    text-align: left;
    color: black;
    padding: 50px 10px 10px 30px;
}

.item1{
    margin: auto;
    background-color: hsl(0, 100%, 67%,0.3);
    width: 200px;
    height: 30px;
    margin-bottom:10px ;
    border-radius: 5px ;
    color: rgb(3, 3, 95);
    padding-top: 10px;
    text-align: right;
    padding-right: 20px;
}
.item2{
    margin: auto;
    background-color: hsl(39, 100%, 56%,0.3);
    width: 200px;
    height: 30px;
    margin-bottom:10px ;
    border-radius: 5px ;
    padding-top: 10px;
    text-align: right;
    padding-right: 20px;
    color: rgb(3, 3, 95);
}
.item3{
    margin: auto;
    background-color: hsl(166, 100%, 37%,0.3);
    width: 200px;
    height: 30px;
    margin-bottom:10px ;
    border-radius: 5px ;
    padding-top: 10px;
    text-align: right;
    padding-right: 20px;
    color: rgb(3, 3, 95);
}
.item4{
    margin: auto;
    background-color: hsl(234, 85%, 45%,0.3);
    width: 200px;
    height: 30px;
    margin-bottom:10px ;
    border-radius: 5px ;
    padding-top: 10px;
    text-align: right;
    padding-right: 20px;
    color: rgb(3, 3, 95);
}
input{
    color: white;
    margin: auto;
    background-image:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width:200px;
    height: 30px;
    margin-bottom:10px ;
    border-radius: 50px;
    font-size: 15pt;
    cursor: pointer;
    border: none;
  
}
input:hover{
    color: rgb(255, 255, 255,0.9);
    background-image:linear-gradient(hsl(252, 100%, 67%,0.9),hsl(241, 81%, 54%,0.9));
    
}
span{
    float: inline-start;
    padding-left: 10px;
    margin-left: 10px;
    
}

.color1{
    color:hsl(0, 100%, 67%);
    
}
.color2{
    color:hsl(39, 100%, 56%);
    
}
.color3{
    color:hsl(166, 100%, 37%);

}
.color4{
    color:hsl(234, 85%, 45%);
}

img{
    float: left;
    padding-right: 10px;
}