@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-weight: 600;
  /* height: 100vh; */
  background-color: hsl(0, 0%, 90%);
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0%;
  /* overflow-y: hidden; */
}

.head {
  margin: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: hsl(0, 0%, 90%);
}
.a {
  display: flex;
}
a {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: hsl(255, 11%, 22%);
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
.b {
  margin-right: 30px;
}

button {
  font-weight: 600;
  height: 40px;
  width: 7rem;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: hsl(100, 100%, 100%);
  padding: 10px;
}

.Login {
  background-color: hsl(0, 0%, 90%);
  color: hsl(255, 11%, 22%);
}
.Login:hover {
  color: hsl(255, 11%, 22%, 0.4);
}
button:hover {
  opacity: 70%;
  cursor: pointer;
}

.intro {
  padding-top: 5vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.text {
  display: inline;
  margin: auto;
  font-size: 2rem;
  width: 70%;
}

p {
  color: hsl(255, 11%, 22%);
  font-weight: 300;
  font-size: 1.5rem;
}

.short {
  height: 15vh;
  width: 60vw;
  background-image: url(images/bg-shorten-desktop.svg);
  background-color: hsl(257, 27%, 26%);
  background-repeat: no-repeat;
  display: flex;
  border-radius: 10px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: fit-content;
  font-size: 1rem;
  width: 100%;
  border: none;
}
input:focus {
  border: 2px;
  outline: none;
}
input,
.shorten {
  height: fit-content;
  margin: auto 2rem auto 0px;
  border-radius: 10px;
  padding: 20px;
}
.shorten {
  width: 7.5rem;
}

.description {
  /* height: 80vh;
  width: 80vw; */
  /* border: 2px solid black; */
  margin: 5% auto 5% auto;
  text-align: center;
}

.title {
  justify-self: center;
  height: fit-content;
  width: 25%;
}
.container {
  justify-self: center;
  margin: auto;
  display: grid;
  height: 50%;
  grid-template-columns: 10vw 10vw 1vw 10vw 10vw 1vw 10vw 10vw;
  grid-template-rows: 12vh 12vh 12vh 12vh 12vh;
}

.card1,
.card2,
.card3 {
  padding: 1rem 2rem 1rem 2rem;
  text-align: left;

  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: white;
}

.card1 {
  grid-column: 1/3;
  grid-row: 1/4;
}
.card2 {
  grid-column: 4/6;
  grid-row: 2/5;
}
.card3 {
  grid-column: 7/9;
  grid-row: 3/6;
}

.l1 {
  grid-column: 3/4;
  grid-row: 2/3;
  border-bottom: 9px solid hsl(180, 66%, 49%);
}
.l2 {
  grid-column: 6/7;
  grid-row: 3/4;
  border-bottom: 9px solid hsl(180, 66%, 49%);
}
.tt {
  color: hsl(0, 0%, 44%);
  font-weight: 300;
  font-size: 1.1vw;
}

.icons {
  background-color: hsl(257, 27%, 26%);
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 1rem;
  margin-top: -5vh;
  border-radius: 50%;
}

img {
  margin: auto;
}

.getStartedunder {
  align-items: center;
  text-align: center;
  color: white;
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-boost-desktop.svg);
  background-position: center;
  background-size: 100vw;
  height: 20vh;
  padding: 1px;
}

.foot {
  display: flex;

  color: white;
  background-color: hsl(260, 8%, 14%);
  height: 40vh;
  font-weight: 900;
}

.inside {
  width: fit-content;
  justify-self: center;
}

.fotlnk {
  color: rgb(209, 209, 209);
  font-size: 1rem;
}
.list {
  display: inline;
  width: fit-content;
  padding: 1rem;
  margin: auto 3rem auto 0px;
}
.logo {
  width: 40%;
  display: flex;
}

.ttl,
.fotlnk {
  margin: 0rem;
}

li {
  list-style: none;
  margin: 1rem 0rem 1rem 0rem;
  padding: 0;
}
.logos {
  display: grid;
  grid-template-columns: 3vw 3vw 3vw 3vw;
}

.fotlnk:hover {
  color: hsl(180, 66%, 49%);
}
